body {
	font-family: Arial;
}

.greenheading {
  background-color:#97b765; 
  height:25px; 
  padding-top:5px; 
  font-size:15pt;
  clear:both;
  text-align:center;
}
.chart {
	display:inline;
	float:left;
}

input[type="button"], 
input[type="submit"]{
	/* background: #2A88AD; */
	background: hsl(210,50%,50%);
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	font: normal 30px;
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 15px;
}
input[type="button"]:hover, 
input[type="submit"]:hover{
	/* background: #2A6881; */
	background: hsl(210,50%,40%);
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
	box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea,
select {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

/* ##############################
NAVIGATION
################################# */

.navigation {
	width: 100%;
	height: 49px;
	border-bottom: 2px solid green;
	font-weight: bold;
}

nav a {
   float: left;
   padding: 15px 15px;
   border-top: 1px solid silver;
   border-right: 1px solid silver;
   background: hsl(210,50%,50%);
   color: #eee;
   text-decoration: none;
}

nav a:nth-child(1) { border-left: 1px solid silver; }
nav a:hover { background: hsl(210,50%,40%); color: #eee; }
nav a:active { background: #ffffff; }

nav .checked {
  background: white;
  color: #111;	
}
